In [ ]:
import pandas as pd

In [ ]:
data = pd.read_json('generated_users.json')

In [196]:
data.head()

,email,firstName,lastName,password,dob,profileImageURL,role,batch,skills,interests,bio,refreshToken,jobDetails,location,previousCompanies,internships,linkedin,github,availableForMentorship
0,alexander23@gmail.com,Aaron,Love,%0Os0EJoW6,1997-05-26,https://www.lorempixel.com/291/287,student,2017-01-08T07:49:35.433609,"[AWS, Azure, Docker, Kubernetes, Terraform]",[Cloud Computing],Specific full standard may baby ago.,6d2588bf-3791-4dc4-a10b-88b6559b1805,{},Maryton,[],[],https://www.simmons.biz/,http://www.thompson.com/,False
1,herrerawendy@gmail.com,Kevin,Ellis,_Z_B3BlkYy,1992-04-05,https://dummyimage.com/235x846,student,2021-07-23T07:49:35.435132,"[Solidity, Ethereum]",[Blockchain],Raise just ok good party travel hospital turn.,4b765d8e-419e-4918-895a-482604ba281a,{},Jackfort,[],[],http://gardner.net/,http://www.williams-reeves.com/,False
2,johnstonjeanne@ho.com,Anthony,Calderon,Bu4UJc_!y+,2000-11-21,https://dummyimage.com/514x243,student,2020-01-19T07:49:35.436226,"[CI/CD, Docker]",[DevOps],However research arrive particularly he model ...,d9faf015-b401-4069-b93c-08fc5b16b966,{},Lake Connie,[],[],https://smith.net/,https://lopez.biz/,False
3,zachary19@thompson.net,Diane,Willis,N25PV@GoN^,1994-06-22,https://placekitten.com/57/769,alumni,2020-12-28T07:49:35.437042,"[CI/CD, Docker, Kubernetes, Jenkins]",[DevOps],Continue blue the activity need.,1e66521e-19f3-4003-8e72-bccf353c0151,"{'company': 'Evans and Sons', 'title': 'CI/CD ...",New Nancy,[],[],https://www.martinez.org/,http://www.dixon.info/,True
4,ericameyer@smith.com,Andrew,Nelson,A4EP3iiX!C,2000-05-26,https://placekitten.com/131/134,alumni,2018-07-17T07:49:35.438724,"[Node.js, Express, MongoDB, SQL, Python]",[Backend Development],Every soon son way term hit Republican.,c3aa6853-1ed7-4609-a51b-d0d083fa485a,"{'company': 'Butler, York and Powers', 'title'...",South Sean,"[Hanson, Davis and Dodson, Ortiz, Mccall and G...","[Hinton, Sanders and Thompson]",https://www.knight.com/,http://www.huffman-rodriguez.com/,True

In [197]:
data.shape

(100, 19)

In [198]:
data.columns

Index(['email', 'firstName', 'lastName', 'password', 'dob', 'profileImageURL',
       'role', 'batch', 'skills', 'interests', 'bio', 'refreshToken',
       'jobDetails', 'location', 'previousCompanies', 'internships',
       'linkedin', 'github', 'availableForMentorship'],
      dtype='object')

In [199]:
data = data.drop(columns=['email','firstName','lastName','dob','profileImageURL','role','batch','previousCompanies','internships','linkedin','github','availableForMentorship','password','jobDetails','location','bio','refreshToken'])

In [200]:
data.head()

                                        skills              interests
0  [AWS, Azure, Docker, Kubernetes, Terraform]      [Cloud Computing]
1                         [Solidity, Ethereum]           [Blockchain]
2                              [CI/CD, Docker]               [DevOps]
3         [CI/CD, Docker, Kubernetes, Jenkins]               [DevOps]
4     [Node.js, Express, MongoDB, SQL, Python]  [Backend Development]

In [201]:
data.shape

(100, 2)

In [202]:
data.tail()

                                               skills           interests
95  [Python, TensorFlow, PyTorch, Scikit-learn, Da...  [Machine Learning]
96                                        [Python, R]      [Data Science]
97                         [Unity, C#, Unreal Engine]  [Game Development]
98  [Networking, Ethical Hacking, Cryptography, Py...     [Cybersecurity]
99  [Python, TensorFlow, PyTorch, Scikit-learn, Da...  [Machine Learning]

In [203]:
data = pd.read_json('synthetic_data.json')
data.head()

,email,firstName,lastName,password,dob,profileImageURL,role,batch,skills,interests,bio,refreshToken,jobDetails,location,previousCompanies,internships,linkedin,github,availableForMentorship,projects
0,user0@example.com,User0,Test0,hashedpassword,1998-02-22,,student,2015,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...",,{},City7,[],[],https://www.linkedin.com/in/user0,https://github.com/user0,False,"[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,user1@example.com,User1,Test1,hashedpassword,2001-12-06,,student,2016,"[Django, Kubernetes, Blockchain]","[Cloud Computing, Web Development, DevOps, Dec...","User1 is passionate about Cloud Computing, Web...",,{},City9,[],[],https://www.linkedin.com/in/user1,https://github.com/user1,False,"[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,user2@example.com,User2,Test2,hashedpassword,1990-04-24,,student,2020,"[AWS, Cybersecurity, JavaScript]","[UI/UX, Infrastructure, Web Development, Cloud...","User2 is passionate about UI/UX, Infrastructur...",,{},City4,[],[],https://www.linkedin.com/in/user2,https://github.com/user2,False,"[Weather App, Serverless Web App, Portfolio We..."
3,user3@example.com,User3,Test3,hashedpassword,1991-07-28,,alumni,2020,"[C++, JavaScript, IoT]","[UI/UX, Connected Devices, Frontend Developmen...","User3 is passionate about UI/UX, Connected Dev...",,"{'company': 'Company26', 'title': 'Data Scient...",City10,[Company83],[Internship at Kubernetes],https://www.linkedin.com/in/user3,https://github.com/user3,False,"[Weather App, Portfolio Website, IoT Weather S..."
4,user4@example.com,User4,Test4,hashedpassword,1998-02-21,,alumni,2018,"[Cybersecurity, React, Java]","[Android Development, Frontend Development, We...","User4 is passionate about Android Development,...",,"{'company': 'Company1', 'title': 'Software Eng...",City4,[Company69],[Internship at SQL],https://www.linkedin.com/in/user4,https://github.com/user4,False,"[Android App, Spring Boot Microservice, Social..."

In [204]:
data = data.drop(columns=['email','dob','password','batch','location','jobDetails'])

In [205]:
data.head()

,firstName,lastName,profileImageURL,role,skills,interests,bio,refreshToken,previousCompanies,internships,linkedin,github,availableForMentorship,projects
0,User0,Test0,,student,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...",,[],[],https://www.linkedin.com/in/user0,https://github.com/user0,False,"[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,,student,"[Django, Kubernetes, Blockchain]","[Cloud Computing, Web Development, DevOps, Dec...","User1 is passionate about Cloud Computing, Web...",,[],[],https://www.linkedin.com/in/user1,https://github.com/user1,False,"[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,,student,"[AWS, Cybersecurity, JavaScript]","[UI/UX, Infrastructure, Web Development, Cloud...","User2 is passionate about UI/UX, Infrastructur...",,[],[],https://www.linkedin.com/in/user2,https://github.com/user2,False,"[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,,alumni,"[C++, JavaScript, IoT]","[UI/UX, Connected Devices, Frontend Developmen...","User3 is passionate about UI/UX, Connected Dev...",,[Company83],[Internship at Kubernetes],https://www.linkedin.com/in/user3,https://github.com/user3,False,"[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,,alumni,"[Cybersecurity, React, Java]","[Android Development, Frontend Development, We...","User4 is passionate about Android Development,...",,[Company69],[Internship at SQL],https://www.linkedin.com/in/user4,https://github.com/user4,False,"[Android App, Spring Boot Microservice, Social..."

In [206]:
data = data.drop(columns=['previousCompanies','linkedin','github','refreshToken'])

In [207]:
data.head()

,firstName,lastName,profileImageURL,role,skills,interests,bio,internships,availableForMentorship,projects
0,User0,Test0,,student,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...",[],False,"[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,,student,"[Django, Kubernetes, Blockchain]","[Cloud Computing, Web Development, DevOps, Dec...","User1 is passionate about Cloud Computing, Web...",[],False,"[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,,student,"[AWS, Cybersecurity, JavaScript]","[UI/UX, Infrastructure, Web Development, Cloud...","User2 is passionate about UI/UX, Infrastructur...",[],False,"[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,,alumni,"[C++, JavaScript, IoT]","[UI/UX, Connected Devices, Frontend Developmen...","User3 is passionate about UI/UX, Connected Dev...",[Internship at Kubernetes],False,"[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,,alumni,"[Cybersecurity, React, Java]","[Android Development, Frontend Development, We...","User4 is passionate about Android Development,...",[Internship at SQL],False,"[Android App, Spring Boot Microservice, Social..."

In [208]:
data = data.drop(columns=['profileImageURL','availableForMentorship','internships'])

In [209]:
data.head()

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...","[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,student,"[Django, Kubernetes, Blockchain]","[Cloud Computing, Web Development, DevOps, Dec...","User1 is passionate about Cloud Computing, Web...","[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,student,"[AWS, Cybersecurity, JavaScript]","[UI/UX, Infrastructure, Web Development, Cloud...","User2 is passionate about UI/UX, Infrastructur...","[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,alumni,"[C++, JavaScript, IoT]","[UI/UX, Connected Devices, Frontend Developmen...","User3 is passionate about UI/UX, Connected Dev...","[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,alumni,"[Cybersecurity, React, Java]","[Android Development, Frontend Development, We...","User4 is passionate about Android Development,...","[Android App, Spring Boot Microservice, Social..."

In [210]:
data.tail()

,firstName,lastName,role,skills,interests,bio,projects
95,User95,Test95,student,"[AWS, SQL, Java]","[Android Development, Database Management, Inf...",User95 is passionate about Android Development...,"[Serverless Web App, Android App, Spring Boot ..."
96,User96,Test96,student,"[C++, JavaScript, MongoDB]","[NoSQL Databases, UI/UX, Frontend Development,...","User96 is passionate about NoSQL Databases, UI...","[Weather App, Portfolio Website, To-Do App]"
97,User97,Test97,alumni,"[SQL, Python, Node.js]","[API Development, Database Management, Data Sc...","User97 is passionate about API Development, Da...","[Real-time Chat App, Machine Learning Model, H..."
98,User98,Test98,student,"[Kubernetes, Django, Java]","[Android Development, Cloud Computing, Web Dev...",User98 is passionate about Android Development...,"[Android App, Spring Boot Microservice, CI/CD ..."
99,User99,Test99,student,"[Java, C++, SQL]","[Android Development, Database Management, Sys...",User99 is passionate about Android Development...,"[Android App, Spring Boot Microservice, Hospit..."

In [211]:
data.shape

(100, 7)

In [212]:
data.head(1)

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...","[Serverless Web App, CI/CD Pipeline, Scalable ..."

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   firstName  100 non-null    object
 1   lastName   100 non-null    object
 2   role       100 non-null    object
 3   skills     100 non-null    object
 4   interests  100 non-null    object
 5   bio        100 non-null    object
 6   projects   100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [214]:
temp = data['interests'].apply(lambda x: x.lowercase())

AttributeError: 'list' object has no attribute 'lowercase'

In [215]:
temp = data[data['interests'].apply(lambda x: x.lower())]

AttributeError: 'list' object has no attribute 'lower'

In [ ]:
temp = data['interests'].str.lower()

In [216]:
print(temp)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: interests, Length: 100, dtype: float64

In [217]:
data

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[Kubernetes, AWS, SQL]","[Database Management, Infrastructure, Cloud Co...","User0 is passionate about Database Management,...","[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,student,"[Django, Kubernetes, Blockchain]","[Cloud Computing, Web Development, DevOps, Dec...","User1 is passionate about Cloud Computing, Web...","[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,student,"[AWS, Cybersecurity, JavaScript]","[UI/UX, Infrastructure, Web Development, Cloud...","User2 is passionate about UI/UX, Infrastructur...","[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,alumni,"[C++, JavaScript, IoT]","[UI/UX, Connected Devices, Frontend Developmen...","User3 is passionate about UI/UX, Connected Dev...","[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,alumni,"[Cybersecurity, React, Java]","[Android Development, Frontend Development, We...","User4 is passionate about Android Development,...","[Android App, Spring Boot Microservice, Social..."
...,...,...,...,...,...,...,...
95,User95,Test95,student,"[AWS, SQL, Java]","[Android Development, Database Management, Inf...",User95 is passionate about Android Development...,"[Serverless Web App, Android App, Spring Boot ..."
96,User96,Test96,student,"[C++, JavaScript, MongoDB]","[NoSQL Databases, UI/UX, Frontend Development,...","User96 is passionate about NoSQL Databases, UI...","[Weather App, Portfolio Website, To-Do App]"
97,User97,Test97,alumni,"[SQL, Python, Node.js]","[API Development, Database Management, Data Sc...","User97 is passionate about API Development, Da...","[Real-time Chat App, Machine Learning Model, H..."
98,User98,Test98,student,"[Kubernetes, Django, Java]","[Android Development, Cloud Computing, Web Dev...",User98 is passionate about Android Development...,"[Android App, Spring Boot Microservice, CI/CD ..."
99,User99,Test99,student,"[Java, C++, SQL]","[Android Development, Database Management, Sys...",User99 is passionate about Android Development...,"[Android App, Spring Boot Microservice, Hospit..."

In [218]:
data[data['interests'].apply(lambda x: x.lower())]

AttributeError: 'list' object has no attribute 'lower'

In [219]:
data['interests'] = data['interests'].apply(lambda x: [i.lower() for i in x])

In [220]:
data

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[Kubernetes, AWS, SQL]","[database management, infrastructure, cloud co...","User0 is passionate about Database Management,...","[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,student,"[Django, Kubernetes, Blockchain]","[cloud computing, web development, devops, dec...","User1 is passionate about Cloud Computing, Web...","[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,student,"[AWS, Cybersecurity, JavaScript]","[ui/ux, infrastructure, web development, cloud...","User2 is passionate about UI/UX, Infrastructur...","[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,alumni,"[C++, JavaScript, IoT]","[ui/ux, connected devices, frontend developmen...","User3 is passionate about UI/UX, Connected Dev...","[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,alumni,"[Cybersecurity, React, Java]","[android development, frontend development, we...","User4 is passionate about Android Development,...","[Android App, Spring Boot Microservice, Social..."
...,...,...,...,...,...,...,...
95,User95,Test95,student,"[AWS, SQL, Java]","[android development, database management, inf...",User95 is passionate about Android Development...,"[Serverless Web App, Android App, Spring Boot ..."
96,User96,Test96,student,"[C++, JavaScript, MongoDB]","[nosql databases, ui/ux, frontend development,...","User96 is passionate about NoSQL Databases, UI...","[Weather App, Portfolio Website, To-Do App]"
97,User97,Test97,alumni,"[SQL, Python, Node.js]","[api development, database management, data sc...","User97 is passionate about API Development, Da...","[Real-time Chat App, Machine Learning Model, H..."
98,User98,Test98,student,"[Kubernetes, Django, Java]","[android development, cloud computing, web dev...",User98 is passionate about Android Development...,"[Android App, Spring Boot Microservice, CI/CD ..."
99,User99,Test99,student,"[Java, C++, SQL]","[android development, database management, sys...",User99 is passionate about Android Development...,"[Android App, Spring Boot Microservice, Hospit..."

In [221]:
data['skills'] = data['skills'].apply(lambda x: [i.lower() for i in x])

In [222]:
data

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","User0 is passionate about Database Management,...","[Serverless Web App, CI/CD Pipeline, Scalable ..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","User1 is passionate about Cloud Computing, Web...","[Cryptocurrency Wallet, CI/CD Pipeline, Scalab..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","User2 is passionate about UI/UX, Infrastructur...","[Weather App, Serverless Web App, Portfolio We..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","User3 is passionate about UI/UX, Connected Dev...","[Weather App, Portfolio Website, IoT Weather S..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","User4 is passionate about Android Development,...","[Android App, Spring Boot Microservice, Social..."
...,...,...,...,...,...,...,...
95,User95,Test95,student,"[aws, sql, java]","[android development, database management, inf...",User95 is passionate about Android Development...,"[Serverless Web App, Android App, Spring Boot ..."
96,User96,Test96,student,"[c++, javascript, mongodb]","[nosql databases, ui/ux, frontend development,...","User96 is passionate about NoSQL Databases, UI...","[Weather App, Portfolio Website, To-Do App]"
97,User97,Test97,alumni,"[sql, python, node.js]","[api development, database management, data sc...","User97 is passionate about API Development, Da...","[Real-time Chat App, Machine Learning Model, H..."
98,User98,Test98,student,"[kubernetes, django, java]","[android development, cloud computing, web dev...",User98 is passionate about Android Development...,"[Android App, Spring Boot Microservice, CI/CD ..."
99,User99,Test99,student,"[java, c++, sql]","[android development, database management, sys...",User99 is passionate about Android Development...,"[Android App, Spring Boot Microservice, Hospit..."

In [223]:
data['projects'] = data['projects'].apply(lambda x: [i.lower() for i in x])

In [224]:
data

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","User0 is passionate about Database Management,...","[serverless web app, ci/cd pipeline, scalable ..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","User1 is passionate about Cloud Computing, Web...","[cryptocurrency wallet, ci/cd pipeline, scalab..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","User2 is passionate about UI/UX, Infrastructur...","[weather app, serverless web app, portfolio we..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","User3 is passionate about UI/UX, Connected Dev...","[weather app, portfolio website, iot weather s..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","User4 is passionate about Android Development,...","[android app, spring boot microservice, social..."
...,...,...,...,...,...,...,...
95,User95,Test95,student,"[aws, sql, java]","[android development, database management, inf...",User95 is passionate about Android Development...,"[serverless web app, android app, spring boot ..."
96,User96,Test96,student,"[c++, javascript, mongodb]","[nosql databases, ui/ux, frontend development,...","User96 is passionate about NoSQL Databases, UI...","[weather app, portfolio website, to-do app]"
97,User97,Test97,alumni,"[sql, python, node.js]","[api development, database management, data sc...","User97 is passionate about API Development, Da...","[real-time chat app, machine learning model, h..."
98,User98,Test98,student,"[kubernetes, django, java]","[android development, cloud computing, web dev...",User98 is passionate about Android Development...,"[android app, spring boot microservice, ci/cd ..."
99,User99,Test99,student,"[java, c++, sql]","[android development, database management, sys...",User99 is passionate about Android Development...,"[android app, spring boot microservice, hospit..."

In [225]:
alumnis = data[data['role'] == 'alumni']
students = data[data['role'] == 'student']

In [226]:
students

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","User0 is passionate about Database Management,...","[serverless web app, ci/cd pipeline, scalable ..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","User1 is passionate about Cloud Computing, Web...","[cryptocurrency wallet, ci/cd pipeline, scalab..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","User2 is passionate about UI/UX, Infrastructur...","[weather app, serverless web app, portfolio we..."
5,User5,Test5,student,"[javascript, node.js, aws]","[api development, ui/ux, frontend development,...","User5 is passionate about API Development, UI/...","[weather app, portfolio website, serverless we..."
7,User7,Test7,student,"[node.js, blockchain, c++]","[api development, system design, competitive p...","User7 is passionate about API Development, Sys...","[task scheduler, cryptocurrency wallet, real-t..."
8,User8,Test8,student,"[mongodb, blockchain, c++]","[nosql databases, system design, competitive p...","User8 is passionate about NoSQL Databases, Sys...","[cryptocurrency wallet, nft marketplace, user ..."
10,User10,Test10,student,"[sql, aws, django]","[cloud computing, web development, infrastruct...","User10 is passionate about Cloud Computing, We...","[serverless web app, hospital management datab..."
11,User11,Test11,student,"[python, sql, blockchain]","[database management, data science, decentrali...",User11 is passionate about Database Management...,"[cryptocurrency wallet, decentralized voting s..."
13,User13,Test13,student,"[sql, tensorflow, java]","[android development, database management, dee...",User13 is passionate about Android Development...,"[android app, object detection system, spring ..."
14,User14,Test14,student,"[react, tensorflow, javascript]","[ui/ux, frontend development, web development,...","User14 is passionate about UI/UX, Frontend Dev...","[weather app, portfolio website, object detect..."
18,User18,Test18,student,"[python, blockchain, mongodb]","[nosql databases, data science, decentralized ...","User18 is passionate about NoSQL Databases, Da...","[cryptocurrency wallet, machine learning model..."
19,User19,Test19,student,"[django, python, cybersecurity]","[web development, data science, ethical hackin...","User19 is passionate about Web Development, Da...","[machine learning model, secure file storage, ..."
20,User20,Test20,student,"[java, python, react]","[android development, frontend development, da...",User20 is passionate about Android Development...,"[android app, spring boot microservice, social..."
22,User22,Test22,student,"[django, kubernetes, mongodb]","[nosql databases, cloud computing, web develop...","User22 is passionate about NoSQL Databases, Cl...","[ci/cd pipeline, scalable web service, e-learn..."
25,User25,Test25,student,"[mongodb, iot, cybersecurity]","[nosql databases, connected devices, embedded ...","User25 is passionate about NoSQL Databases, Co...","[iot weather station, connected vehicle system..."
28,User28,Test28,student,"[blockchain, tensorflow, node.js]","[api development, deep learning, decentralized...","User28 is passionate about API Development, De...","[task scheduler, cryptocurrency wallet, object..."
29,User29,Test29,student,"[c++, django, react]","[frontend development, web development, system...",User29 is passionate about Frontend Developmen...,"[social media dashboard, e-commerce platform, ..."
30,User30,Test30,student,"[iot, aws, blockchain]","[connected devices, infrastructure, cloud comp...","User30 is passionate about Connected Devices, ...","[cryptocurrency wallet, serverless web app, io..."
33,User33,Test33,student,"[aws, java, react]","[android development, infrastructure, web deve...",User33 is passionate about Android Development...,"[serverless web app, android app, spring boot ..."
36,User36,Test36,student,"[cybersecurity, iot, kubernetes]","[connected devices, cloud computing, embedded ...","User36 is passionate about Connected Devices, ...","[iot weather station, connected vehicle system..."
38,User38,Test38,student,"[node.js, mongodb, aws]","[api development, nosql databases, infrastruct...","User38 is passionate about API Development, No...","[task scheduler, serverless web app, real-time..."
40,User40,Test40,student,"[node.js, python, aws]","[api development, cloud computing, data scienc...","User40 is passionate about API Development, Cl...","[serverless web app, real-time chat app, machi..."
41,User41,Test41,student,"[java, cybersecurity, python]","[android development, data science, ethical ha...",User41 is passionate about Android Development...,"[android app, spring boot microservice, machin..."
42,User42,Test42,student,"[django, javascript, tensorflow]","[ui/ux, frontend development, web development,...","User42 is passionate about UI/UX, Frontend Dev...","[weather app, portfolio website, object detect..."
43,User43,Test43,student,"[django, iot, javascript]","[ui/ux, connected devices, frontend developmen...","User43 is passionate about UI/UX, Connected De...","[weather app, portfolio website, iot weather s..."
44,User44,Test44,student,"[node.js, aws, java]","[api development, android development, infrast...","User44 is passionate about API Development, An...","[serverless web app, android app, real-time ch..."
45,User45,Test45,student,"[kubernetes, javascript, c++]","[ui/ux, frontend development, web development,...","User45 is passionate about UI/UX, Frontend Dev...","[weather app, portfolio website, to-do app]"
46,User46,Test46,student,"[aws, iot, node.js]","[api development, connected devices, infrastru...","User46 is passionate about API Development, Co...","[serverless web app, iot weather station, real..."
51,User51,Test51,student,"[django, mongodb, node.js]","[web development, api development, nosql datab...","User51 is passionate about Web Development, AP...","[task scheduler, real-time chat app, e-learnin..."
53,User53,Test53,student,"[javascript, django, react]","[web development, ui/ux, backend development, ...","User53 is passionate about Web Development, UI...","[weather app, portfolio website, to-do app]"
54,User54,Test54,student,"[blockchain, react, iot]","[connected devices, frontend development, web ...","User54 is passionate about Connected Devices, ...","[cryptocurrency wallet, iot weather station, s..."
56,User56,Test56,student,"[java, tensorflow, kubernetes]","[android development, cloud computing, devops,...",User56 is passionate about Android Development...,"[android app, object detection system, spring ..."
58,User58,Test58,student,"[mongodb, node.js, java]","[api development, nosql databases, android dev...","User58 is passionate about API Development, No...","[task scheduler, android app, real-time chat app]"
61,User61,Test61,student,"[cybersecurity, react, kubernetes]","[cloud computing, web development, frontend de...","User61 is passionate about Cloud Computing, We...","[social media dashboard, ci/cd pipeline, secur..."
62,User62,Test62,student,"[blockchain, tensorflow, sql]","[database management, deep learning, decentral...",User62 is passionate about Database Management...,"[cryptocurrency wallet, object detection syste..."
66,User66,Test66,student,"[tensorflow, sql, cybersecurity]","[database management, ethical hacking, network...",User66 is passionate about Database Management...,"[object detection system, image classification..."
67,User67,Test67,student,"[aws, cybersecurity, django]","[infrastructure, web development, cloud comput...","User67 is passionate about Infrastructure, Web...","[serverless web app, secure file storage, anom..."
70,User70,Test70,student,"[node.js, c++, django]","[api development, web development, system desi...","User70 is passionate about API Development, We...","[real-time chat app, e-learning platform, api ..."
73,User73,Test73,student,"[c++, iot, node.js]","[api development, connected devices, system de...","User73 is passionate about API Development, Co...","[iot weather station, real-time chat app, conn..."
74,User74,Test74,student,"[kubernetes, cybersecurity, iot]","[connected devices, cloud computing, ethical h...","User74 is passionate about Connected Devices, ...","[iot weather station, ci/cd pipeline, scalable..."
76,User76,Test76,student,"[cybersecurity, mongodb, tensorflow]","[nosql databases, ethical hacking, network sec...","User76 is passionate about NoSQL Databases, Et...","[object detection system, secure file storage,..."
77,User77,Test77,student,"[iot, node.js, javascript]","[api development, ui/ux, connected devices, fr...","User77 is passionate about API Development, UI...","[weather app, portfolio website, iot weather s..."
80,User80,Test80,student,"[javascript, django, mongodb]","[nosql databases, ui/ux, frontend development,...","User80 is passionate about NoSQL Databases, UI...","[weather app, portfolio website, to-do app]"
81,User81,Test81,student,"[iot, python, mongodb]","[nosql databases, connected devices, data scie...","User81 is passionate about NoSQL Databases, Co...","[iot weather station, connected vehicle system..."
82,User82,Test82,student,"[aws, mongodb, react]","[nosql databases, infrastructure, web developm...","User82 is passionate about NoSQL Databases, In...","[serverless web app, social media dashboard, e..."
85,User85,Test85,student,"[aws, tensorflow, react]","[infrastructure, web development, cloud comput...","User85 is passionate about Infrastructure, Web...","[serverless web app, object detection system, ..."
87,User87,Test87,student,"[kubernetes, aws, java]","[android development, infrastructure, cloud co...",User87 is passionate about Android Development...,"[serverless web app, android app, spring boot ..."
88,User88,Test88,student,"[tensorflow, cybersecurity, iot]","[connected devices, ethical hacking, embedded ...","User88 is passionate about Connected Devices, ...","[object detection system, iot weather station,..."
89,User89,Test89,student,"[django, node.js, iot]","[api development, connected devices, web devel...","User89 is passionate about API Development, Co...","[iot weather station, real-time chat app, conn..."
92,User92,Test92,student,"[cybersecurity, javascript, aws]","[ui/ux, frontend development, web development,...","User92 is passionate about UI/UX, Frontend Dev...","[weather app, portfolio website, serverless we..."
93,User93,Test93,student,"[mongodb, python, javascript]","[nosql databases, ui/ux, frontend development,...","User93 is passionate about NoSQL Databases, UI...","[weather app, portfolio website, to-do app]"
95,User95,Test95,student,"[aws, sql, java]","[android development, database management, inf...",User95 is passionate about Android Development...,"[serverless web app, android app, spring boot ..."
96,User96,Test96,student,"[c++, javascript, mongodb]","[nosql databases, ui/ux, frontend development,...","User96 is passionate about NoSQL Databases, UI...","[weather app, portfolio website, to-do app]"
98,User98,Test98,student,"[kubernetes, django, java]","[android development, cloud computing, web dev...",User98 is passionate about Android Development...,"[android app, spring boot microservice, ci/cd ..."
99,User99,Test99,student,"[java, c++, sql]","[android development, database management, sys...",User99 is passionate about Android Development...,"[android app, spring boot microservice, hospit..."

In [227]:
data['bio'] = data['bio'].apply(lambda x: x.lower())

In [228]:
data

,firstName,lastName,role,skills,interests,bio,projects
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","user0 is passionate about database management,...","[serverless web app, ci/cd pipeline, scalable ..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","user1 is passionate about cloud computing, web...","[cryptocurrency wallet, ci/cd pipeline, scalab..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","user2 is passionate about ui/ux, infrastructur...","[weather app, serverless web app, portfolio we..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","user3 is passionate about ui/ux, connected dev...","[weather app, portfolio website, iot weather s..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","user4 is passionate about android development,...","[android app, spring boot microservice, social..."
...,...,...,...,...,...,...,...
95,User95,Test95,student,"[aws, sql, java]","[android development, database management, inf...",user95 is passionate about android development...,"[serverless web app, android app, spring boot ..."
96,User96,Test96,student,"[c++, javascript, mongodb]","[nosql databases, ui/ux, frontend development,...","user96 is passionate about nosql databases, ui...","[weather app, portfolio website, to-do app]"
97,User97,Test97,alumni,"[sql, python, node.js]","[api development, database management, data sc...","user97 is passionate about api development, da...","[real-time chat app, machine learning model, h..."
98,User98,Test98,student,"[kubernetes, django, java]","[android development, cloud computing, web dev...",user98 is passionate about android development...,"[android app, spring boot microservice, ci/cd ..."
99,User99,Test99,student,"[java, c++, sql]","[android development, database management, sys...",user99 is passionate about android development...,"[android app, spring boot microservice, hospit..."

In [229]:
data['tags'] = data['skills'] + data['interests'] + data['projects']

In [230]:
data.head()

,firstName,lastName,role,skills,interests,bio,projects,tags
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","user0 is passionate about database management,...","[serverless web app, ci/cd pipeline, scalable ...","[kubernetes, aws, sql, database management, in..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","user1 is passionate about cloud computing, web...","[cryptocurrency wallet, ci/cd pipeline, scalab...","[django, kubernetes, blockchain, cloud computi..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","user2 is passionate about ui/ux, infrastructur...","[weather app, serverless web app, portfolio we...","[aws, cybersecurity, javascript, ui/ux, infras..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","user3 is passionate about ui/ux, connected dev...","[weather app, portfolio website, iot weather s...","[c++, javascript, iot, ui/ux, connected device..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","user4 is passionate about android development,...","[android app, spring boot microservice, social...","[cybersecurity, react, java, android developme..."

In [231]:
data['tags'][0]

['kubernetes',
 'aws',
 'sql',
 'database management',
 'infrastructure',
 'cloud computing',
 'devops',
 'data analysis',
 'serverless web app',
 'ci/cd pipeline',
 'scalable web service']

In [232]:
data['bio'] = data['bio'].apply(lambda x: x[26:])

data.head()

In [233]:
data.head()

,firstName,lastName,role,skills,interests,bio,projects,tags
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","database management, infrastructure, cloud com...","[serverless web app, ci/cd pipeline, scalable ...","[kubernetes, aws, sql, database management, in..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","cloud computing, web development, devops, dece...","[cryptocurrency wallet, ci/cd pipeline, scalab...","[django, kubernetes, blockchain, cloud computi..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","ui/ux, infrastructure, web development, cloud ...","[weather app, serverless web app, portfolio we...","[aws, cybersecurity, javascript, ui/ux, infras..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","ui/ux, connected devices, frontend development...","[weather app, portfolio website, iot weather s...","[c++, javascript, iot, ui/ux, connected device..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","android development, frontend development, web...","[android app, spring boot microservice, social...","[cybersecurity, react, java, android developme..."

In [234]:
data['bio'].apply(lambda x: x.split())

0     [database, management,, infrastructure,, cloud...
1     [cloud, computing,, web, development,, devops,...
2     [ui/ux,, infrastructure,, web, development,, c...
3     [ui/ux,, connected, devices,, frontend, develo...
4     [android, development,, frontend, development,...
                            ...
95    [android, development,, database, management,,...
96    [nosql, databases,, ui/ux,, frontend, developm...
97    [api, development,, database, management,, dat...
98    [android, development,, cloud, computing,, web...
99    [android, development,, database, management,,...
Name: bio, Length: 100, dtype: object

In [235]:
data['tags'][0]

['kubernetes',
 'aws',
 'sql',
 'database management',
 'infrastructure',
 'cloud computing',
 'devops',
 'data analysis',
 'serverless web app',
 'ci/cd pipeline',
 'scalable web service']

In [236]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=500, min_df=1)

In [237]:
data

,firstName,lastName,role,skills,interests,bio,projects,tags
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","database management, infrastructure, cloud com...","[serverless web app, ci/cd pipeline, scalable ...","[kubernetes, aws, sql, database management, in..."
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","cloud computing, web development, devops, dece...","[cryptocurrency wallet, ci/cd pipeline, scalab...","[django, kubernetes, blockchain, cloud computi..."
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","ui/ux, infrastructure, web development, cloud ...","[weather app, serverless web app, portfolio we...","[aws, cybersecurity, javascript, ui/ux, infras..."
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","ui/ux, connected devices, frontend development...","[weather app, portfolio website, iot weather s...","[c++, javascript, iot, ui/ux, connected device..."
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","android development, frontend development, web...","[android app, spring boot microservice, social...","[cybersecurity, react, java, android developme..."
...,...,...,...,...,...,...,...,...
95,User95,Test95,student,"[aws, sql, java]","[android development, database management, inf...","android development, database management, inf...","[serverless web app, android app, spring boot ...","[aws, sql, java, android development, database..."
96,User96,Test96,student,"[c++, javascript, mongodb]","[nosql databases, ui/ux, frontend development,...","nosql databases, ui/ux, frontend development,...","[weather app, portfolio website, to-do app]","[c++, javascript, mongodb, nosql databases, ui..."
97,User97,Test97,alumni,"[sql, python, node.js]","[api development, database management, data sc...","api development, database management, data sc...","[real-time chat app, machine learning model, h...","[sql, python, node.js, api development, databa..."
98,User98,Test98,student,"[kubernetes, django, java]","[android development, cloud computing, web dev...","android development, cloud computing, web dev...","[android app, spring boot microservice, ci/cd ...","[kubernetes, django, java, android development..."
99,User99,Test99,student,"[java, c++, sql]","[android development, database management, sys...","android development, database management, sys...","[android app, spring boot microservice, hospit...","[java, c++, sql, android development, database..."

In [238]:
data['tags']

0     [kubernetes, aws, sql, database management, in...
1     [django, kubernetes, blockchain, cloud computi...
2     [aws, cybersecurity, javascript, ui/ux, infras...
3     [c++, javascript, iot, ui/ux, connected device...
4     [cybersecurity, react, java, android developme...
                            ...
95    [aws, sql, java, android development, database...
96    [c++, javascript, mongodb, nosql databases, ui...
97    [sql, python, node.js, api development, databa...
98    [kubernetes, django, java, android development...
99    [java, c++, sql, android development, database...
Name: tags, Length: 100, dtype: object

In [239]:
data['tags'] = data['tags'].apply(lambda x: ' '.join(x))

In [240]:
data.head()

,firstName,lastName,role,skills,interests,bio,projects,tags
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","database management, infrastructure, cloud com...","[serverless web app, ci/cd pipeline, scalable ...",kubernetes aws sql database management infrast...
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","cloud computing, web development, devops, dece...","[cryptocurrency wallet, ci/cd pipeline, scalab...",django kubernetes blockchain cloud computing w...
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","ui/ux, infrastructure, web development, cloud ...","[weather app, serverless web app, portfolio we...",aws cybersecurity javascript ui/ux infrastruct...
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","ui/ux, connected devices, frontend development...","[weather app, portfolio website, iot weather s...",c++ javascript iot ui/ux connected devices fro...
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","android development, frontend development, web...","[android app, spring boot microservice, social...",cybersecurity react java android development f...

In [242]:
vectors = cv.fit_transform(data['tags'])

In [243]:
data['tags'].head()

0    kubernetes aws sql database management infrast...
1    django kubernetes blockchain cloud computing w...
2    aws cybersecurity javascript ui/ux infrastruct...
3    c++ javascript iot ui/ux connected devices fro...
4    cybersecurity react java android development f...
Name: tags, dtype: object

In [244]:
vectors

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 1942 stored elements and shape (100, 100)>

In [245]:
vectors = vectors.toarray()

In [246]:
vectors

array([[0, 1, 0, ..., 0, 2, 0],
       [0, 0, 0, ..., 0, 2, 0],
       [0, 0, 0, ..., 1, 2, 1],
       ...,
       [1, 1, 0, ..., 0, 0, 0],
       [0, 0, 2, ..., 0, 1, 0],
       [0, 1, 2, ..., 0, 0, 0]], shape=(100, 100))

In [247]:
vectors[0]

array([0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0])

In [248]:
cv.get_feature_names_out()

array(['ai', 'analysis', 'android', 'anomaly', 'api', 'app',
       'authentication', 'aws', 'backend', 'blockchain', 'boot', 'cd',
       'chat', 'ci', 'classification', 'cloud', 'commerce', 'competitive',
       'computing', 'connected', 'cryptocurrency', 'cybersecurity',
       'dashboard', 'data', 'database', 'databases', 'decentralized',
       'deep', 'design', 'detection', 'development', 'devices', 'devops',
       'django', 'do', 'embedded', 'ethical', 'file', 'finance', 'flask',
       'frontend', 'gateway', 'hacking', 'hospital', 'image',
       'infrastructure', 'iot', 'java', 'javascript', 'js', 'kubernetes',
       'learning', 'machine', 'management', 'marketplace', 'media',
       'microservice', 'model', 'mongodb', 'network', 'nft', 'node',
       'nosql', 'object', 'personal', 'pipeline', 'platform', 'portfolio',
       'programming', 'python', 'react', 'real', 'scalable', 'scheduler',
       'science', 'secure', 'security', 'serverless', 'service', 'social',
       'spring', 'sql', 'station', 'storage', 'system', 'systems', 'task',
       'tensorflow', 'time', 'to', 'tracker', 'ui', 'user', 'ux',
       'vehicle', 'voting', 'wallet', 'weather', 'web', 'website'],
      dtype=object)

In [249]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(max_features=500, min_df=1, stop_words=None)
vectors = tfidf.fit_transform(data['tags']).toarray()

In [250]:
vectors

array([[0.        , 0.23187721, 0.        , ..., 0.        , 0.25177861,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.23139152,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.17176754, 0.25860979,
        0.21838058],
       ...,
       [0.20810073, 0.18819256, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.47113066, ..., 0.        , 0.12550946,
        0.        ],
       [0.        , 0.19161179, 0.39049719, ..., 0.        , 0.        ,
        0.        ]], shape=(100, 100))

In [251]:
vectors[0]

array([0.        , 0.23187721, 0.        , 0.        , 0.        ,
       0.12995933, 0.        , 0.23187721, 0.        , 0.        ,
       0.        , 0.24578215, 0.        , 0.24578215, 0.        ,
       0.17152652, 0.        , 0.        , 0.17152652, 0.        ,
       0.        , 0.        , 0.        , 0.19388223, 0.23627826,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.22367122, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.23187721, 0.        , 0.        , 0.        , 0.        ,
       0.22367122, 0.        , 0.        , 0.23627826, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.24578215, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.28235657, 0.        , 0.        ,
       0.        , 0.        , 0.23187721, 0.28235657, 0.        ,
       0.        , 0.23627826, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.25177861, 0.        ])

In [256]:
tfidf.get_feature_names_out()

array(['ai', 'analysis', 'android', 'anomaly', 'api', 'app',
       'authentication', 'aws', 'backend', 'blockchain', 'boot', 'cd',
       'chat', 'ci', 'classification', 'cloud', 'commerce', 'competitive',
       'computing', 'connected', 'cryptocurrency', 'cybersecurity',
       'dashboard', 'data', 'database', 'databases', 'decentralized',
       'deep', 'design', 'detection', 'development', 'devices', 'devops',
       'django', 'do', 'embedded', 'ethical', 'file', 'finance', 'flask',
       'frontend', 'gateway', 'hacking', 'hospital', 'image',
       'infrastructure', 'iot', 'java', 'javascript', 'js', 'kubernetes',
       'learning', 'machine', 'management', 'marketplace', 'media',
       'microservice', 'model', 'mongodb', 'network', 'nft', 'node',
       'nosql', 'object', 'personal', 'pipeline', 'platform', 'portfolio',
       'programming', 'python', 'react', 'real', 'scalable', 'scheduler',
       'science', 'secure', 'security', 'serverless', 'service', 'social',
       'spring', 'sql', 'station', 'storage', 'system', 'systems', 'task',
       'tensorflow', 'time', 'to', 'tracker', 'ui', 'user', 'ux',
       'vehicle', 'voting', 'wallet', 'weather', 'web', 'website'],
      dtype=object)

In [257]:
data.head()

,firstName,lastName,role,skills,interests,bio,projects,tags
0,User0,Test0,student,"[kubernetes, aws, sql]","[database management, infrastructure, cloud co...","database management, infrastructure, cloud com...","[serverless web app, ci/cd pipeline, scalable ...",kubernetes aws sql database management infrast...
1,User1,Test1,student,"[django, kubernetes, blockchain]","[cloud computing, web development, devops, dec...","cloud computing, web development, devops, dece...","[cryptocurrency wallet, ci/cd pipeline, scalab...",django kubernetes blockchain cloud computing w...
2,User2,Test2,student,"[aws, cybersecurity, javascript]","[ui/ux, infrastructure, web development, cloud...","ui/ux, infrastructure, web development, cloud ...","[weather app, serverless web app, portfolio we...",aws cybersecurity javascript ui/ux infrastruct...
3,User3,Test3,alumni,"[c++, javascript, iot]","[ui/ux, connected devices, frontend developmen...","ui/ux, connected devices, frontend development...","[weather app, portfolio website, iot weather s...",c++ javascript iot ui/ux connected devices fro...
4,User4,Test4,alumni,"[cybersecurity, react, java]","[android development, frontend development, we...","android development, frontend development, web...","[android app, spring boot microservice, social...",cybersecurity react java android development f...

In [275]:
students_indices = data[data['role'] == 'student'].index
alumni_indices = data[data['role'] == 'alumni'].index

In [276]:
student_vectors = vectors[students_indices]
alumni_vectors = vectors[alumni_indices]

In [259]:
from sklearn.metrics.pairwise import cosine_similarity

In [277]:
similarities = cosine_similarity(student_vectors, alumni_vectors)

In [286]:
def get_recommendations(student_index):
    student = data.loc[student_index, 'tags']
    distances = similarities[student_index]
    #alumni_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    top_alumni_indices = sorted(zip(alumni_indices, distances), key=lambda x: x[1], reverse=True)[:5]
    #print("Student: ", data.iloc[student_index].skills)

    print("\n🎯 **Student Skills:**", ', '.join(data.loc[student_index, 'skills']))

    print("\n🔍 **Top 5 Matching Alumni:**")
    for alum_index, score in top_alumni_indices:
        print(f"⭐ {', '.join(data.loc[alum_index, 'skills'])} (Similarity: {score:.3f})")

In [289]:
get_recommendations(2)

🎯 **Student Skills:** aws, cybersecurity, javascript

🔍 **Top 5 Matching Alumni:**
⭐ react, javascript, aws (Similarity: 0.810)
⭐ aws, node.js, javascript (Similarity: 0.757)
⭐ react, javascript, kubernetes (Similarity: 0.550)
⭐ javascript, java, django (Similarity: 0.514)
⭐ javascript, node.js, mongodb (Similarity: 0.476)

In [284]:
alumni_indices

Index([ 3,  4,  6,  9, 12, 15, 16, 17, 21, 23, 24, 26, 27, 31, 32, 34, 35, 37,
       39, 47, 48, 49, 50, 52, 55, 57, 59, 60, 63, 64, 65, 68, 69, 71, 72, 75,
       78, 79, 83, 84, 86, 90, 91, 94, 97],
      dtype='int64')